﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Search Title By Name</h3>
<p>
    Please enter the name to search the titles
</p>
<input type="text" data-bind="value: searchText">
<input type="button" data-bind="click:searchTitlesByName" value="Search" />
<span style="color:red;" data-bind="visible: ErrorText">Please enter any character before clicking Search</span>
<p>&nbsp;</p>
<div data-bind="visible: MovieListLoaded">
    <ul data-bind="foreach: AllResults">
        <li>
            <span data-bind="text: ($index() + 1)"> </span>:
            <span data-bind="text: TitleName"> </span>
            <span data-bind="text: parseInt(ReleaseYear)"></span>
            <a href="#" data-bind="click: $parent.GetDetails">Details</a>
        </li>
    </ul>

</div>
<div data-bind="visible: MovieDetailsLoaded">
    <h2> Movie Details</h2>
    <div data-bind="if: MovieDetailsLoaded">
        <h4><b>Title Name:</b> <span data-bind="text: MovieDetails().TitleName"> </span></h4>
        <h4><b>Release Year:</b> <span data-bind="text: parseInt(MovieDetails().ReleaseYear)"> </span></h4>
        <h4><b>Language:</b> <span data-bind="text: MovieDetails().Language"> </span></h4>
        <h4><b>Description:</b> <span data-bind="text: MovieDetails().Description"> </span></h4>
        <h4><b>Participant Name:</b> <span data-bind="text: MovieDetails().ParticipantName"> </span></h4>
    </div>
</div>